body {
    max-width: 545px;
    padding: 10px;
    background: #f4fafc;
    margin: auto;
    border: 1px solid rgb(255, 240, 208);
}

h1 {
    background: linear-gradient(120deg, #d3ee96, #75aceb, #f3d6b1);
    color: #ffffff;
    text-shadow: #fbf0ff 1px 1px, 1px;
    margin-bottom: 50px;
    margin-top: 0;
    font-family: 'Lumanosimo', sans serif;
    text-align: center;
}

.inputResponsive {
    display: none;
}

.ajouter {
    color: #610583;
    background-color: #fbf0ff;
    border: 1px solid #141414;
    margin-left: 20px;
    height: 32px;
    width: 75px;
    font-weight: bold;
}

.inputDesktop {
    padding-left: 5px;
    height: 30px;
    width: 65%;
    font-size: 18px;
}

ul {
    margin-top: 60px;
    position: relative;
    left: -40px;
}

.fa-solid {
    font-size: 17px;
    color: #9fa19f;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    .ajouter {
        width: 60px;
        height: 28px;

    }
    .inputResponsive {
        width:70%;
        height: 28px;
        font-size: 15px;
        display: inline;
    }
    .inputDesktop {
        display: none;
    }
}