.toggle-complete {
    width: 30px;
    height: 23px;
    position: absolute;
    right: 22%;
    background-color: #ffffff;
}

.delete {
    background-color: #ee1010;
    position: absolute;
    height: 23px;
    width: 30px;
    right: 15%;
}

li {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    list-style: none;
    width: 68%;
    height: 25px;
    overflow: auto;
    display: flex;
    border: 2px solid #ccc5c5;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-top: 3px;
}

li.completed {
    background-color: #07c907;
}

li.completed span {
    color: #ffffff;
}

.completed .fa-check {
    color: #ffffff;
}

.completed {
    background-color:#04cf04;
}

.fa-trash {
    font-size: 13px;
    color: #ffffff;
}

.date {
    position: relative;
    top: -15px;
    font-size: 14px;
}

.tacheEffectue {
    position: relative;
    top: -15px;
    margin-bottom: 10px;
}

.tacheAfaire {
    position: relative;
    top: -15px;
    width: 535px;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    li {
        width: 75%;
        padding-left: 5px;
        font-size: 16px;
        overflow: auto;
        display: flex;
    }
.date {
    width: 200px;
    font-size: 12px;
    position: relative;
    top: -15px;
}
.tacheAfaire{
    width: 105%;
}
    .toggle-complete {
        right: 10%;
    }

    .delete {
        right: -2%;
    }
}
